
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
    background-color: #FB6C6C;
}

.pokemon {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

.number {
    align-self: flex-end;
    padding-top: 3rem;
    padding-right: 1rem;
    color: white;
}

.name {
    padding-left: 2rem;
    font-size: 22pt;
    color: white;
}

.pokemon img {
    width: 80%;
    position: absolute;
    left: 55%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.pokemon .type {
    margin-left: 2rem;
    margin-top: 1rem;
    padding: .3rem .5rem;
    background-color: rgba(255, 255, 255, 0.253);
    width: fit-content;
    border-radius: 1rem;
    font-size: 8pt;
}

.stats {
    background-color: #f6f8fc;
    border-radius: 50px 50px 0px 0px;
    height: 425px;
    margin-top: 35vh;
    
}

.stats p {
    text-align: center;
    padding-top: 2rem;
}

.stats hr {
    width: 100px;
    margin: 0px auto;
}

